extends pagelayout/main-layout.pug

block content
    +createPost(isLoggedInUser)
    .postContainer

    +createPostReply(isLoggedInUser)
    +createDeletePost(isLoggedInUser)


block scripts 
    script(src="/Js/home.js") 