extends pagelayout/login-layout.pug

block content 
    .loginContainer
        //- .loginContainer_header 
        //-     img(src="public/images/Logo/twitter_logo.png", alt="twitter logo")
        .loginContainer_title
            h2 Sign in to Twitter
        .loginContainer_body 
            .loginContainer_googleOauth2 
                button Sign in with google
            .loginContainer_sepeartor 
            p.or or
            .loginContainer_form
                p.errorHandler #{errorMessage}

                form(method='post')
                    input(type='text', name='Identity', placeholder='Username or email',value=Identity required='')
                    input(type='password', name='Password', placeholder='Password',value=Password, required='')
                    input(type='submit' value='Log in')
                p Don't have an accout? 
                    a(href='/register') Signup
                p Forgot password? 
                    a(href='#') Click here

