/* Nav bar component */
nav{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2rem;

}


nav a{
    color: white;
    margin-right: 1rem;

    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor:pointer;
}
nav a:hover{
    background-color: var(--secondary-background-color);
    color:white;
}

/* Feed component */
.mainSectionContainer{
    border-left: 1px solid var(--primary-border-color);
    border-right:1px solid var(--primary-border-color);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.containerTitle{
    padding: 0 var(--space);
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    
}
.containerTitle h5{
    flex: 1;
}
.postFormContainer{
    display: flex;
    border-bottom: 1px solid var(--primary-border-color);
}
.userImageContainer{
    padding: 1rem;
    border-radius: 50%;
    border: none;
    
}
.userImageContainer img{
    width: 3rem;
    height: 3rem;
    background-color: var(primary-background-color);
    border-radius: 50%;
    background-color: white;
    border: none;

}
.textareaContainer{
    padding: 1rem 0.2rem;
    width: 100%;
}
.textareaContainer textarea{
    width:100%;
    border: none;
    resize:none;
    font-size: 1.3rem;
    outline: none;
    background-color: black;
    color: white;
}
.buttonContainer{
    display: flex;
    justify-content: end;
}
.buttonContainer button{
    background-color: var(--primary-button-color);
    color: white;
    padding:0.5rem 1.5rem;
    font-weight: 500;
}
.buttonContainer button:disabled{
    background-color: var(--primary-button-disabled-color);
}

.post{
    display: flex;
    flex-direction: column;
    cursor:pointer;
    border-bottom: 1px solid var(--primary-border-color);
    flex-shrink: 0;
}
.mainContentContainer{
    flex: 1;
    display: flex;
}
.postContentContainer{
    padding: var(--space);
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header span{
    padding-left: 0.2rem;
}
.displayName{
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    cursor:pointer;
}
.displayName:hover{
    text-decoration: underline;
}
.username, .date{
    color: var(--secondary-text-color);
    font-size: 1rem;
}
.postBody{
    font-size: 1rem;
    margin-top: 0.2rem;
}
.postFooter{
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 1rem;
}
.postButtonContainer{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.postButtonContainer button{
    border-radius: 50%;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
    height:3rem;
    width: 3rem;
}

/* Don't register mouse events */
.postButtonContainer button i,
.postButtonContainer button span{
    pointer-events: none;
}
.postButtonContainer button:hover{
    background-color: var(--secondary-background-color);
}
.likeButton:hover{
    color: rgb(178, 51, 80)
}
.likeButton.active{
    color: rgb(178, 51, 80)
}

.retweetButton.active{
    color: rgb(45, 198, 45)
}
.retweetButton:hover{
    color: rgb(45, 198, 45)
}
.retweet-post-owner{
    padding-left: 2rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
    cursor: pointer;
}
.retweet-post-owner a{
    color: var(--secondary-text-color);
}
.retweet-post-owner:hover{
    text-decoration: underline;
}

.modal-title{
    color: black;
}
.modal-body .postFormContainer{
    border: none;
    padding: 0;
    margin: 0;
}
.modal-body .postFormContainer textarea{
    background-color: white;
    color: black;
}
/* Widget Component */
.widget{
    
}
